*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar-item {
    margin: 0 15px;
}

.navbar-item:hover {
    opacity: 0.8; 
}

.menu {
    display: flex;
}

.menu li {
    list-style-type: none;
    margin: 0 10px;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu li a:hover {
    color: rgb(189, 189, 189); 
}

.img-responsive {
    width: 100%;
}

.img-curve {
    border-radius: 15px;
}

.logo {
    width: 16%;
    float: left;
}

.categories{
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 5%;
}

.order-menu {
    padding-top: 15%;
    background-color: white;
    color: black;
}

.order-card{
    padding-left: 9%;
}

/* CSS for Food Menu */
.food-menu{
    background-color: #ececec;
    color: black;
    padding: 4% 0;
}
.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}



@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        flex-direction: column;
        width: 100%;
    }

    .menu li {
        margin: 10px 0;
    }

    .logo {
        width: 100%;
        margin-bottom: 20px;
    }

    .categories{
        margin-left: 0%;
        margin-right: 0%;
    }
}
