*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000;
    color: white;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar-item {
    margin: 0 15px;
}

.navbar-item:hover {
    opacity: 0.8; 
}

.menu {
    display: flex;
}

.menu li {
    list-style-type: none;
    margin: 0 10px;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu li a:hover {
    color: rgb(189, 189, 189); 
}

.img-responsive {
    width: 100%;
}

.img-curve {
    border-radius: 15px;
}

.logo {
    width: 16%;
    float: left;
}

/* Categories */
.categories{
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 5%;
}

/* Food Menu */
.order-card{
    padding-left: 9%;
}

.food-menu{
    background-color: #ececec;
    color: black;
    padding: 4% 0;
}

.food-menu-box{
    width: 48%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}

.order-button{
    background-color:#181b1e; 
    color:white;
}

.order-button{
    background-color:#181b1e; 
    color:white;
}

.order-button:hover{
    background-color:white; 
    color:#181b1e;
}

.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}

.pagination {
    display: flex;
    list-style: none;
    margin-top: 3%;
    padding: 0;
    justify-content: center;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    display: block;
    padding: 10px 15px;
    color: #000;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
    background-color: #000;
    color: #fff;
}

.page-item.active .page-link {
    background-color: #000;
    color: #fff;
    border-color: #000;
}
/* Search Section*/
 .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.search-input {
    width: 50%;
    padding: 12px 15px;
    border: 2px solid #333;
    border-radius: 50px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}

.search-input:focus {
    width: 55%;
    border-color: white;
    box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.2);
}

.search-button {
    position: relative;
    right: 35px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-button i {
    font-size: 18px;
    color: #333;
    transition: color 0.3s ease;
}

.search-button:hover i {
    color: #007BFF;
}

/* Categories */
.categories{
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}

.carousel-inner {
    width: 100%;
    height: 500px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.our-values-section {
    background-color: #ececec;
    color: #000; 
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        flex-direction: column;
        width: 100%;
    }

    .menu li {
        margin: 10px 0;
    }

    .logo {
        width: 100%;
        margin-bottom: 20px;
    }

    .categories{
        margin-left: 0%;
        margin-right: 0%;
    }

    /*Mobile size for pages isn't done yet*/
    
}
